<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi apps</title>
</head>
<body>
    <h1> projecto de integracion con MongoDB </h1>
 
    <h2> este proyecto esta hecho para demostrar como integrar una base de datos de MongoDB con un lenguaje de programacion</h2>
    <p> en este caso, es javascript!</p>
    <ul>
        <li><a href="/clientes">gestionar clientes</a></li>
        <li><a href="/pedidos">gestionar pedidos</a></li>
        <li><a href="/productos">gestionar productos</a></li>



    </ul>
    
 


    <form action="/clientes" method="POST">
</body>
</html>